@media (min-width: 1000px) {
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    align-content: center;

    .main-text-container {
      grid-column: 1 / 2;
    }

    .rating-container {
      grid-column: 2 / 3;
    }

    .cards-container {
      grid-column: 1 / 3;
      display: flex;
      align-content: space-between;
    }
  }
}
