.ratings-container {
  .rating {
    background: var(--lightGrayishMagenta);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;

    &-stars {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      .star {
        margin: 0 0.25rem;
      }
    }

    &-source {
      text-align: center;
      color: var(--veryDarkMagenta);
      font-weight: 700;
    }
  }
}

@media (min-width: 1000px) {
  .ratings-container {
    .rating {
      display: flex;
      width: 65%;
      align-content: center;
      justify-content: center;

      &:nth-child(2) {
        margin: 0 auto;
      }
      &:last-child {
        margin-left: auto;
      }

      &-stars {
        margin-bottom: 0;
      }

      &-source {
        margin-left: 0.5rem;
        justify-content: center;
        align-content: center;
        padding: 0;
      }
    }
  }
}
